<nav class="sidebar">

    <!-- ================= Logo ================= -->

    <div class="sidebar-logo">

        <div>

            <h2>DMS</h2>

            <span>Duty Management System</span>

        </div>

    </div>

    <!-- ================= ADMIN ================= -->

    <div *ngIf="role === 'Admin'">

        <a
            routerLink="/dashboard"
            routerLinkActive="active"
            class="menu-item">

            Dashboard

        </a>

        <!-- Masters -->

        <div
            class="menu-heading"
            (click)="toggleMasters()">

            <span>Masters</span>

            <span>

                {{ showMasters ? '▼' : '▶' }}

            </span>

        </div>

        <div
            class="submenu"
            *ngIf="showMasters">

            <a
                routerLink="/officers"
                routerLinkActive="active"
                class="submenu-item">

                Officers

            </a>

            <a
                routerLink="/projects"
                routerLinkActive="active"
                class="submenu-item">

                Projects

            </a>

            <a
                routerLink="/designations"
                routerLinkActive="active"
                class="submenu-item">

                Duty Roles

            </a>

            <a
                routerLink="/employees"
                routerLinkActive="active"
                class="submenu-item">

                Employees

            </a>

        </div>

    </div>

    <!-- ================= Transactions ================= -->

    <div
        class="menu-heading"
        (click)="toggleTransactions()">

        <span>Transactions</span>

        <span>

            {{ showTransactions ? '▼' : '▶' }}

        </span>

    </div>

    <div
        class="submenu"
        *ngIf="showTransactions">

        <a
            routerLink="/transactions"
            routerLinkActive="active"
            class="submenu-item">

            Assign Duty

        </a>

    </div>

   <!-- ================= Reports ================= -->

<div
    class="menu-heading"
    (click)="toggleReports()">

    <span>Reports</span>

    <span>

        {{ showReports ? '▼' : '▶' }}

    </span>

</div>

<div
    class="submenu"
    *ngIf="showReports">

    <a
        routerLink="/reports"
        routerLinkActive="active"
        class="submenu-item">

        Project Report

    </a>

    <a
        routerLink="/reports"
        routerLinkActive="active"
        class="submenu-item">

        Employee Report

    </a>

    <a
        routerLink="/reports"
        routerLinkActive="active"
        class="submenu-item">

        Designation Report

    </a>

    <a
        routerLink="/batch-history"
        routerLinkActive="active"
        class="submenu-item">

        Batch History

    </a>

</div>

</nav>