<div class="projects-container">

    <div class="page-header">

        <div>
            <h2>Duty Roles Management</h2>
            <p>Manage all duty roles used while assigning duties.</p>
        </div>

        <button
            class="add-btn"
            (click)="openModal()">

            + Add Role

        </button>

    </div>

    <div class="search-box">

        <input
            type="text"
            placeholder="Search Role..."
            [(ngModel)]="searchText">

    </div>

    <table>

        <thead>
    <tr>
        <th>Role</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
</thead>

        <tbody>

            <tr *ngFor="let designation of filteredDesignations()">

    <td>{{ designation.role }}</td>
    <td>{{ designation.description }}</td>

    <td>

        <button
            class="edit-btn"
            (click)="editDesignation(designation)">
            Edit
        </button>

        <button
            class="delete-btn"
            (click)="deleteDesignation(designation.id)">
            Delete
        </button>

    </td>

</tr>

    </table>
    <div class="modal-backdrop" *ngIf="showModal">

    <div class="modal">

        <h2>{{ isEditMode ? 'Edit Role' : 'Add New Role' }}</h2>

        <label>Role</label>

        <input
            type="text"
            placeholder="Enter Role"
            [(ngModel)]="role"
        >

        <label>Description</label>

        <input
            type="text"
            placeholder="Enter Description"
            [(ngModel)]="description"
        >

        <div class="buttons">

            <button
                class="cancel-btn"
                (click)="closeModal()">

                Cancel

            </button>

            <button
    class="save-btn"
    (click)="saveDesignation()">

    {{ isEditMode ? 'Update' : 'Save' }}

</button>

        </div>

    </div>

</div>

</div>