<div class="employees">

  <div class="page-header">

    <div>
        <h2>Employees</h2>
        <p>Manage all employees available for duty assignment.</p>
    </div>

    <!-- <button
        class="add-btn"
        (click)="openModal()">

        + Add Employee

    </button> -->

</div>

  <!-- Filter (optional later) -->
  <div class="search-box">

    <input
        type="text"
        placeholder="Search Employee..."
        [(ngModel)]="searchText">

</div>

  <!-- TABLE -->
  <table>
    <tr>
      <th>Name</th>
<th>Department</th>
<th>Phone</th>
<th>Email</th>
    </tr>

    <tr *ngFor="let employee of filteredEmployees()">

  <td>{{ employee.name }}</td>
  <td>{{ employee.department }}</td>
  <td>{{ employee.phone }}</td>
  <td>{{ employee.email }}</td>

</tr>

  </table>

  <!-- <div class="modal-backdrop" *ngIf="showModal">

    <div class="modal">

        <h2>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>

        <label>Name</label>

        <input
            type="text"
            [(ngModel)]="name">

        <label>Department</label>

        <select [(ngModel)]="department">

            <option>Education</option>
            <option>Health</option>
            <option>Revenue</option>

        </select>

        <label>Phone</label>

        <input
            type="text"
            [(ngModel)]="phone">

        <label>Email</label>

        <input
            type="email"
            [(ngModel)]="email">

        <div class="buttons">

            <button
                class="cancel-btn"
                (click)="closeModal()">

                Cancel

            </button>

            <button
                class="save-btn">

                {{ isEditMode ? 'Update' : 'Save' }}

            </button>

        </div>

    </div>

</div> -->
</div>