<header class="header">

    <div class="logo">

        <strong>Duty Management System</strong>

    </div>

    <div class="right">

        <div class="user-info">

            <span class="user-name">

                👤 {{ loggedInUser?.name }}

            </span>

            <span class="user-role">

                {{ loggedInUser?.role }}

            </span>

        </div>

        <button
            class="logout"
            (click)="logout()">

            Logout

        </button>

    </div>

</header>